%bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

%header-set {
  text-align: center;
  margin: 0 auto;
  padding: 0;
}

%mb_10 {
  margin-bottom: 10px;
}

%mb_30 {
  margin-bottom: 30px;
}

%mb_34 {
  margin-bottom: 34px;
}

%mb_40 {
  margin-bottom: 40px;
}

%mb_50 {
  margin-bottom: 50px;
}

%mb_55 {
  margin-bottom: 55px;
}

%mb_70 {
  margin-bottom: 70px;
}

%mb_100 {
  margin-bottom: 100px;
}


%link {
  display: inline-block;
  text-decoration: none;
}

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}

%button {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
