$font-stack: 'Lato', "Arial", sans-serif;
$title-font: 'Yeseva One', "Arial", cursive;
$subtitle-font: 'Gentium Book Basic', "Arial", serif;
$footer-font: 'Open Sans', "Arial", sans-serif;


$main-accent-color: #CC9900;
$secondary-accent-color:#C89F2D;
$main-light-color:  #ffffff;
$secondary-light-color:  #DDE0DF;
$main-dark-color:  #191919;
$secondary-dark-color:  #4C4C4C;


$main-header-font-size: 90px;
$title-text-size: 36px;
$quote-text-size: 25px;
$subtitle-text-size: 21px;
$submain-text-size: 18px;
$main-text-size: 16px;
$footer-text-size: 14px;

$icons: twitter, youtube, facebook;
